	<%= link_to "/articles/#{article.id}" do %>
	<h4 class="title"><%= truncate(raw(article.title), length: 100) %></h4>
	<h6 class="date-authors"><%= truncate(raw(article.authors), length: 100) %> | <%= raw(article.publication_date.strftime("Published on %B %d, %Y")) %></h6>
	<% end %>
