<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>
<h1><%= @article.title %></h1>
<p><%= @article.abstract %></p>

 <div class="container">
    <h1>Join the discussion</h1>
    <p>Click the button below to start a new thread:</p>
    <p>
      <%= link_to 'Add new topic', article_new_comment_path(@article), class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>

<%= comments_tree_for @comments %>
