 <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
 <script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
 <script src="http://www.amcharts.com/lib/3/serial.js"></script>
 <script src="http://www.amcharts.com/lib/3/pie.js"></script>
 <script src="http://www.amcharts.com/lib/3/themes/light.js"></script>


<h1 style="text-align:center;text-decoration:underline">User Analytics Dashboard</h1>

<!-- amchart code begins -->
<div id="chartdiv" class="chartdiv"></div>
<div class="chartgap"></div>
<!-- <div id="chartdiv1" class="chartdiv"></div>
<div class="chartgap"></div> -->
<div id="chartdiv4" class="chartdiv"></div>
<div class="chartgap"></div>
<div id="chartdiv5" class="chartdiv"></div>
<div class="chartgap"></div>
<div id="chartdiv6" class="chartdiv"></div>
<div class="chartgap"></div>
<h3 style="text-align:center;text-decoration:underline">Force Directed Graph (in the works)</h3>
<h4 style="text-align:center;text-decoration:underline">Visualizing relationships of article with other articles (similar articles being near to each other)</h4>


<!-- amchart code ends -->

<!-- <iframe scrolling="no" frameborder="0" style="border: none; width: 100%; height: 834px;" src="http://e.infogr.am/province_wise_breakup_of_psdp_projects?src=-embed"></iframe> -->


<!-- <iframe src="http://www.altmetric.com/details/597705"></iframe> -->



