<h1>User Analytics Dashboard</h1>
<ul>
  <% @metrics.each do |article| %>
    <li>
    <%= article['title']%>
      <ul>
      <li>
      <%= article['cohorts'] %>
      <%#= article['viewed'] %>
      </li>
      </ul>
    </li>
  <% end %>
</ul>

