	<% @keywords.each do |keyword| %>
		<% @keyword_index = @keywords.index(keyword) %>
			<div class="keyword">
				<span class="label label-primary">
					<%= keyword %>
					<%= link_to user_path(index: @keyword_index, id: current_user.id), :method => :delete do %>

					<% end %>
					</span>
			</div>
	<% end %>
