<div class="search-bar">
	<h4>My Feed</h4>
  <div class="keyword-form">
		<%= form_tag user_path(current_user.id), remote: true, method: :patch, id: 'search-form'  do |f| %>
		<%= text_field_tag :keyword %>
		<% end %>
	  </div>
	</div>
</div>

<div id="keywords">
	<%= render partial: "keyword" %>
</div>



<hr/>


<div id="articles">
	<%= render partial: "articles" %>
	<hr/>
	<h6>All articles are provided by <a href="https://www.plos.org/"><strong>PLOS</strong></a></em></h6>
</div>


