<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="search-bar">
	<div class="box">
	  <div class="container-1">

  <div class="keyword-form">
		<%= form_tag user_path(current_user.id), remote: true, method: :patch, id: 'search-form' do |f| %>
		<%= text_field_tag :keyword %>
		<% end %>
	  </div>
	</div>
</div>
</div>



<!-- <div id="articles">

</div> -->


<div class="search-results">
	<div id="keywords">
		<%= render partial: "keyword" %>
	</div>
	<div class="results-display">
		<%= render partial: "articles" %>
	</div>
</div>


