/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require_self
 *
 */
// @import "bootstrap-sprockets";
// @import "bootstrap";
// @import "normalize";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "base/layout";
@import "search";
@import "articles";
@import "users";
@import "comments";
@import "feed";

html, body {
  width:100%;
  height:100%;
}

// .bgalign{
//   // width:85%;
//   // margin-left:8.0%;
//   // padding-top: 60px;
// }

body {

 // background: radial-gradient(ellipse at center,  #0869ad 0%, darken($color, 50%) 100%);
 // background-color: #7FDBFF;
 // #0B4F6C
 // color:black;
 // #7FDBFF
 // #74BBD7
 // rgba(76, 171, 95, 0.44)
 // width:100%;
 // height:100%;
 }

// .bgcolor{
//  // background-color: rgba(76, 171, 95, 0.44);
//  // opacity:0.7;
//  // z-index: -1;
// }

.align {
   text-align:center;
}

.replies {margin-left: 50px;}
/*.root {margin-left: 0;}*/
/* 5 levels nesting */
/*.replies .replies .replies .replies .replies {margin-left: 0;}*/

#nav {
  background-color: #FC726D;
  position: absolute;
  // #7FDBFF
  // rgba(225, 86, 63, 0.56)
  height: 50px;
}

.menu-option{
  display: inline-block;
  float: right;
  height: 50px;
  padding: 8px;
  line-height: 2.5;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.menu-option > img {
  width: 35px;
  border-radius: 10%;
  height: 35px;
}

.menu-option:hover {
  background-color: red;
}

.menu-option:active{
  color: gray;
}

#signup {
  color: #fff;
  font-weight: bold;
}

.site-footer {
  padding: 5px;
  bottom: 0;
  width: 100%;
  height: 60px;

}

// .footer-text{
//   display: inline-block;
// }

img {
  width:30px;
}

#logo {
  width:40px;
  margin-top: 5px;
}

.footer-text span {
 font-family: Verdana;
}

#title{
  font-weight: bold;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  color: #36454f;
  margin-left: 3px;
}

.signup {
  // background-color:rgba(145, 222, 255, 0.72);
 // rgba(145, 222, 255, 0.72)(145, 255, 176, 0.72)
  float:right;
  margin-top:10px;
  padding-right:5px;
  padding-left:5px;
}

.avatar {
 border-radius: 171px;
}

.avatar2 {
 border-radius: 135px;
}

.userinfo{
  padding-top:50px;
}

.link{
  color:yellow;
}

.arc path {
  stroke: #fff;
}

.site-footer {
  background-color: #36454f;
  clear:both;
  height: 65px;
  display: block;
  text-align: center;
  font-family: Tahoma;
}

.site-footer span{
  color: #fff;
}

.site-footer a {
  color: #fff;
  text-decoration: none;
}

.footer-text img {
  width: 60px;
}

.footer-text span {
  vertical-align: top;
  line-height: 1;
}

.icons {
  line-height: 1;
}

// Here is where the d3.js force graph code begins
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
// Here is where the d3.js force graph code ends
iframe{
  width:100%;
  height:500px;
}
// Here is where the d3.js trendline.js graph code begins
  .line {
    stroke: blue;
    fill:none;
    stroke-width: 3;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  .axis text {
    font-size: 10px;
    font-family: sans-serif;
  }

  .text-label {
    font-size: 10px;
    font-family: sans-serif;
  }

  // Here is where the d3.js trendline.js graph code ends
  .chartdiv {
  width: 1000px;
  height: 450px;
  border: 1px solid #ccc;
  margin: 10px auto;
}

.chartgap {
  height: 150px;
  width: 1px;
  border-left: 2px dotted #ccc;
  margin: 10px auto;
}

#chartdiv{
  margin-top:80px;
}

#analyticsbg{
   background-color: #7FDBFF;
   // #7FDBFF
   // #0B4F6C
}