/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.replies {margin-left: 50px;}
/*.root {margin-left: 0;}*/
/* 5 levels nesting */
/*.replies .replies .replies .replies .replies {margin-left: 0;}*/

#nav {
  background-color: #e1563f;
  height: 60px;
}

#logo {
  width:195px;
  height:60px;
  opacity:0.7;
}

.signup {
  background-color:rgba(145, 222, 255, 0.72);
 // rgba(145, 222, 255, 0.72)(145, 255, 176, 0.72)
  float:right;
  margin-top:20px;
  padding-right:5px;
  padding-left:5px;
}

