<div class="login-title-container">
  <h1>Login</h1>
</div>

<div class="login-main">
	<div class="login-form-outer">
		<div class="login-form-inner">
		<%= render 'form' %>
		</div>
		<a href="#" id="showhidetrigger"><h1>Forgot Password?</h1></a>
	</div>

	<div id="showhidetarget">
		<div class="login-form-outer">
		<div class="login-form-inner">
			<%= render 'forgot_password_form' %>
			</div>
	 	</div>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
      $('#showhidetarget').hide();
      $('#showhidetrigger').click(function () {
          $('#showhidetarget').toggle(400);
      });
  });
</script>